<% channel = textbook.id_for_user(current_user) %>
<div id="soba-widget-slide-<%= channel %>"
     class="soba-widget-slide"
     data-width="<%= textbook.width || 640 %>px"
     data-height="<%= textbook.height || 480 %>px"
     width="<%= textbook.view_width || 640 %>px"
     height="<%= textbook.view_height || 480 %>px"
     data-slide-url="<%= images_textbook_url(@textbook, format: 'json', protocol: 'https') %>"
     data-slide-progress='both'
     data-slide-linewidth="1">
</div>
<script src="<%= SobaWidget.slide_url(channel) %>" type="text/javascript" id="js-slide_script"></script>
