<%
   camera_width = SystemSettings.document_camera_width if !defined?(camera_width) || camera_width.nil?
   camera_height = SystemSettings.document_camera_height if !defined?(camera_height) || camera_height.nil?
%>
<div id="soba-widget-publisher-<%= channel %>"
     class="soba-widget-video"
     data-width="<%= width %>"
     data-height="<%= height %>"
     data-camera-width="<%= camera_width %>"
     data-camera-height="<%= camera_height %>"
     data-quality="<%= SystemSettings.document_camera_quality %>"
     data-bandwidth="<%= SystemSettings.document_camera_bandwidth %>"
     data-fps="<%= SystemSettings.document_camera_fps %>"
     data-mic="disable"
     data-widget-id="document-camera-publisher">
</div>
<script src="<%= SobaWidget.document_camera_publisher_url(channel) %>" type="text/javascript"></script>
