<%
   camera_width = SystemSettings.camera_width if !defined?(camera_width) || camera_width.nil?
   camera_height = SystemSettings.camera_height if !defined?(camera_height) || camera_height.nil?
%>
<div id="soba-widget-publisher-<%= channel %>"
     class="soba-widget-video"
     data-width="<%= width %>"
     data-height="<%= height %>"
     data-camera-width="<%= camera_width %>"
     data-camera-height="<%= camera_height %>"
     data-quality="<%= SystemSettings.video_quality %>"
     data-bandwidth="<%= SystemSettings.video_bandwidth %>"
     data-fps="<%= SystemSettings.video_fps %>"
     data-widget-id="video-publisher"></div>
<script src="<%= SobaWidget.video_publisher_url(channel) %>" type="text/javascript"></script>
