<div id="soba-widget-slide-<%= channel %>"
     class="soba-widget-slide"
     data-width="<%= width || 640 %>px"
     data-height="<%= height || 480 %>px"
     data-slide-url="<%= url %>"
     data-ui-palette="bottom"
     width="<%= width || 640 %>px"
     height="<%= height || 480 %>px"
     data-slide-linewidth="1"></div>
<script src="<%= SobaWidget.slide_url(channel) %>" type="text/javascript" id="js-slide_script">{{'</sc' + 'ript>'}}
