<script type="text/template" id="lesson-materials-<%= channel %>-slide-template" class="lesson-materials-slide-template">
  <div id="soba-widget-slide-<%= channel %>"
     class="soba-widget-slide"
     data-width="<%= width %>px"
     data-height="<%= height %>px"
     data-slide-url="<%= url %>"
     width="<%= width %>px"
     height="<%= height %>px"
     data-slide-linewidth="1"></div>
  <script src="<%= SobaWidget.slide_url(channel) %>" type="text/javascript" id="js-slide_script">{{'</sc' + 'ript>'}}
</script>
